In [1]:
#Import neccessary packages
import polars as pl
import pandas as pd 
import duckdb
import ibis

In [19]:
#Setup Connection with DuckDB
con = ibis.connect("duckdb://samhsa_data.db")
#con.list_tables() # List the tables in the db
raw_data = con.table('teds_a_raw_2015_2019')

In [20]:
raw_data.head().to_pandas()

,ADMYR,CASEID,STFIPS,CBSA2010,EDUC,MARSTAT,SERVICES,DETCRIM,NOPRIOR,PSOURCE,...,TRNQFLG,BARBFLG,SEDHPFLG,INHFLG,OTCFLG,OTHERFLG,DIVISION,REGION,IDU,ALCDRUG
0,2015,20151524993,2,-9,2,4,7,-9,1,1,...,0,0,0,0,0,0,9,4,0,1
1,2015,20151449532,2,-9,3,2,7,6,5,7,...,0,0,0,0,0,0,9,4,0,2
2,2015,20151431263,2,-9,-9,1,7,6,2,7,...,0,0,0,0,0,0,9,4,0,2
3,2015,20151401765,2,-9,5,2,6,-9,0,6,...,0,0,0,0,0,0,9,4,0,1
4,2015,20151461771,2,-9,3,1,7,6,4,7,...,0,0,0,0,0,0,9,4,1,2